
body {
    font-family: 'Epilogue', sans-serif;
    min-height: 100vh;
    margin-left: 100px;
    min-height: 100vh;
    background: url(images/Usarb.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
    .principal_container{
        width: 200px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        border: 1px solid;
        margin: 20px;
        font-size: 24px;
        font-weight: bold ;
    }
    .navigation{
        margin: 30px;
        height: 40px;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .input-search {
        display: flex;
        align-items: center;
        margin: 30px;
    }
    .search{
        width: 180px;
        height: 90px;
        display:block;
        border-radius: 9px;
        border: 1px solid;
        background-color: whitesmoke;
        margin: 30px;
        font-size: 18px;
        padding: 2px;
    }
    
    .days_selected p{
        border: 1px solid;
        border-radius: 8px;
        width: 180px;
        height: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: whitesmoke;
        padding: 1px;
       }
       .calendar_section p{
           border: 1px solid;
           border-radius: 8px;
           margin-bottom: 30px;
           width: 180px;
           height: 25px;
           font-size: 15px;
           background-color: whitesmoke;
       }
       .schedule-assist {
        font-size: 16px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    
    #orar{
        background-color:chartreuse;
    }
    #student{
        background-color: rgb(174, 84, 84);
    }
    #examener{
        background-color: blueviolet;
    }
    .schedule_footer {
        font-size: 16px;
        font-weight: bold;
        color: rgb(53, 148, 63);
        border: 1px solid;
        border-radius: 8px;
        background-color: aliceblue;
        padding: 2px;
        margin-right: 20px;
        width: 180px;  
    } 
    .container {
      position: absolute;
      margin-right: 300px;
      right: 0;
      top: 0;
      border: 30px;
      font-size: 23px;
      font-weight: bold;
      z-index: 999;
      color: white;
      }